//INDEX
//carousel
.carousel .carousel-indicators button {
    margin: 0 0.5rem;
    height: 30px;
    opacity: 1;
    &.active {
        background-color: $color-primary !important;
    }
}

//hero
.hero-container {
    padding-top: 2rem;
    margin-bottom: 3rem;
    & h1 {
        color: $color-primary;
        font-family: $font-serif;
    }
    & p {
        color: $color-grey;
    }
}

//tabs
.social-incoming .social-container {
    display: flex;
        align-items: center;
        & h2 {
            font-size: 1.2rem;
            margin: 0 1rem 0 0;
        }
        & a {
            margin: 0 1rem 0 0;
            color: $color-black;
            &:hover {
            color:  $color-primary;
            }
        }
}

//--tab
.tab-container {
    margin-bottom: 5rem;
    & .tab-content {
        padding: 3rem;
        background-color: $color-white;
        border-radius: 0 10px 10px 10px;
    }
    
    & .nav-tabs .nav-item .nav-link {
        font-weight: bold;
        color: $color-primary;
        &.active {
            color: $color-grey;
        }
    }
}
//--accordion
.accordion {
    margin-bottom: 4rem;
}

.accordion-body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(247, 247, 247) 50%);
    & .social-container {
        justify-content: center;
        margin: 2rem 0 1rem 0;
    }
}
.accordion-item {
    & .accordion-button {
        color: $color-primary;
        font-weight: bold;

        &:not(.collapsed) {
            color: $color-primary;
            background-color: $color-white;
            border-bottom: 1px solid $color-primary;
        }
        &:focus {
            border-color: none;
            box-shadow: none;
        }
    }
}

//NEWS
//buttongroup
.btn-group {
    & .btn {
        background-color: $color-white;
        color: $color-primary;
        border: 1px solid $color-primary;
        &:hover {
            background-color: $color-primary;
            color: $color-white;
            border: 1px solid transparent;
        }
        &:focus {
            background-color: $color-primary;
            color: $color-white;
            border: 1px solid $color-primary;
            box-shadow: none;
        }
    }
}

//cards
.card {
    box-shadow: 0 6px 10px #00000018;
}
.card-body {
    
    & .card-title {
        margin-bottom: 1rem;
        font-weight: bold;
    }
    & .card-text {
    margin-bottom: 1.5rem;
    color: $color-grey;
    }
    & .btn {
        border: none;
        border-radius: 4px;
        background-color: $color-primary;
        color: $color-white;
        position: relative;
        &:hover {
            background-color: darken($color-primary, 10);
            color: $color-white;
        }
        &::before {
            content: "";
            border-radius: 0 4px 4px 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: 100%;
            background-color: $color-grey;
        }
    }
}

//CONTACT
.contact-container {
    & h1 {
        font-family: $font-serif;
        color: $color-primary;
    }
    & form {
        box-shadow: 0 6px 10px #00000018;
        margin-bottom: 3rem;
        background-color: $color-light-grey-extra;
        & .form-label {
            color: $color-grey;
        }
        & span {
            background-color: $color-light-grey;
            color: $color-white;
        }
        & .check-container {
            display: flex;
            align-items: center;
        }
        & .form-check-input {
            margin-right: 1rem;
            min-width: 33px;
            min-height: 33px;
            background-color: $color-primary;
        }
        & input, span, textarea {
            border: 1px solid transparent;
            box-shadow: none;
        }
        & input:focus, textarea:focus {
            box-shadow: none;
            border: 1px solid $color-primary;
        }
        & button {
            background-color: $color-grey;
            font-weight: bold;
            min-height: 55px;
            border: 1px solid transparent;
            box-shadow: none;
        }
        & button:hover {
            background-color: $color-primary;
            border: transparent;
        }
        & button:active, button:focus {
            border: 1px solid transparent;
            box-shadow: none;
            background-color: $color-primary;
        }
    }
    & .contact-info {
        & .contact-flex {
            display: flex;
        }
    }
}

@media only screen and (min-width: 768px) {
    .contact-info {
        display: flex;
        justify-content: center;
    }
}


